<!-- SIGNATURES PARTIAL -->
<div class="signatures">
  <div class="signature-box">
    <div class="signature-line">
      <div class="signature-label">Ο Διαχειριστής</div>
      <div class="signature-date">{{date}}</div>
    </div>
  </div>
  
  {{#if showOwner}}
  <div class="signature-box">
    <div class="signature-line">
      <div class="signature-label">Ο Ιδιοκτήτης</div>
      <div class="signature-date">{{date}}</div>
    </div>
  </div>
  {{/if}}
</div>
